// catalogue purposes

.grid{
    &-wrapper{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 20px;
        .cat-item{
            width: 100%;
            height: max-content;
            max-height: 780px;
        }
    }
}